/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
 @import "bulma";

 body, .hero.is-info {
  font-family: 'IBM Plex Sans', sans-serif;
  /* background-color: #4E443E; */
 }

.notification:not(:last-child) {
  margin-bottom: 0;
}

.navbar {
  height: 100px;
}

abbr[title="required"] {
  display: none;
}

/* .button.is-dark,
.footer {
  background-color: #4E443E;
}

.sign-x, a, .new-a {
  color: #FA5F00;
}

.button.is-white {
  color: #847F7B;
} */

.transparent {
  background-color: rgba(255, 217, 0, 0.199);
}

.hero.is-info .title, .navbar-item .button:hover {
  color: #e40422;
}

.card .card-image,
.card .card-image .image img {
  height: 600px;
}

.footer {
  background-color: #0a0a0a;
  color: white;
}